//
   Created by root on 6/02/16.
extends ../navbar
block view
    //ACTIONS
    #actions.col-xs-10.col-xs-offset-1
        a.col-xs-3.col-xs-offset-1.btn.action(about="alumnos", action="addOne") Añadir
        a.col-xs-offset-6.col-xs-1.btn.action(href="http://localhost:3000/"+db+"?v=alumnos") Atras

    // VIEWER
    #viewerOne.container.col-xs-8.col-xs-offset-2
        ul
            li.clearfix.hidden
                input#id(value="")
            li.clearfix
                .col-xs-3 Nombre
                input#name.input-lg.col-xs-9(value="")
            li.clearfix
                .col-xs-3 Apellidos
                input#apelidos.input-lg.col-xs-9(value="")
            li.clearfix
                .col-xs-3 Email
                input#email.input-lg.col-xs-9(value="", type="email")
            li.clearfix
                .col-xs-3 Asignaturas
                input#asignaturas.input-lg.col-xs-9(value="")

    footer
        .navbar-fixed-bottom.navbar-inverse
            .col-lg-6.col-lg-offset-6.col-md-6.col-md-offset-6.col-sm-12.col-xs-12
                span.col-xs-6 Sesión iniciada como:
                if(user)
                    if(user.facebook)
                        if (user.facebook.email != null)
                            span.username=user.facebook.email
                    if(user.twitter)
                        if (user.twitter.username != null)
                            span.username=user.twitter.username
                    if (user.email != null)
                        span.username=user.email