extends layout

block content
  body
    .container
        //LOG IN
        #logIn.col-xs-12
            .well-sm
                h1
                    .col-xs-5 LOGIN NORMAL
                    .col-xs-2 o
                    .col-xs-5 SOCIAL LOGIN
                .col-xs-5
                    label.hidden-xs.hidden-sm.col-md-4.col-lg-4(for='logInEmail') Email
                    input#logInEmail.col-xs-12.col-sm-12.col-md-8.col-lg-8.input-lg(type='email', name='logInEmail', placeholder='@', required='', autofocus='')
                    label.hidden-xs.hidden-sm.col-md-4.col-lg-4(for='logInPassword') Password
                    input#logInPassword.col-xs-12.col-sm-12.col-md-8.col-lg-8.input-lg(type='password', name='logInPassword', placeholder='contraseña', required='', autofocus='')
                    button#sendLogIn.col-xs-8.col-xs-offset-4.btn.btn-lg.btn-default(type='button') Inicia sesión

                .col-xs-2
                .col-xs-5
                    .col-xs-12
                        a#SL_facebook.col-xs-12.btn.btn-lg.btn-default.btnLoginSocial(type='button', href="login/facebook") Facebook &nbsp;
                            img(src="/images/facebook_social.png")
                        button#SL_twitter.col-xs-12.btn.btn-lg.btn-default.btnLoginSocial(type='button') Twitter &nbsp;&nbsp;&nbsp;
                            img(src="/images/twitter_social.png")
                    .col-xs-12
                        label#register_label.col-xs-12 ¿Aún no eres cliente?
                    .col-xs-12
                        #register_go.col-xs-4.col-xs-offset-4.btn.btn-primary Regístrate