extends layout

block content
  body
    .container
        //LOG IN
        #logIn.col-xs-12
            .well-sm
                h1 LOGIN
                #loginForm.col-xs-10
                    #loginError
                    label.hidden-xs.hidden-sm.col-md-4.col-lg-4(for='logInEmail') Email
                    input#logInEmail.input-lg.col-xs-10.col-sm-10.col-md-7.col-lg-7(type='email', name='logInEmail', placeholder='@', required='', autofocus='')
                    label.hidden-xs.hidden-sm.col-md-4.col-lg-4(for='logInPassword') Password
                    input#logInPassword.input-lg.col-xs-10.col-sm-10.col-md-7.col-lg-7(type='password', name='logInPassword', placeholder='contraseña', required='', autofocus='')
                    button#sendLogIn.col-xs-10.col-xs-offset-0.col-md-3.col-md-offset-6.btn.btn-lg.btn-default(type='button') Inicia sesión
                .col-xs-2
                    a#SL_facebook.col-xs-12.btn.btn-lg.btn-default.btnLoginSocial(type='button', href="login/facebook")
                        img(src="/images/facebook_social.png")
                    a#SL_twitter.col-xs-12.btn.btn-lg.btn-default.btnLoginSocial(type='button', href="login/twitter")
                        img(src="/images/twitter_social.png")
                    a#btnRegister.col-xs-12.btn.btn-primary.btnLoginSocial(type='button', href="/register")
                        img(src="/images/local.png")