doctype html
html
  head
      title= title
      meta(name='viewport', content='width=device-width, minimum-scale=1.0, maximum-scale=1.0')
      link(href='https://fonts.googleapis.com/css?family=Roboto', rel='stylesheet', type='text/css')
      link(rel='stylesheet', type="text/css",href='/css/bootstrap.min.css')
      link(rel='stylesheet', type="text/css",href='/css/bootstrap-theme.min.css')
      link(rel='stylesheet', type="text/css",href='/css/bootstrap-social.css')
      link(rel='stylesheet', type="text/css",href='/css/font-awesome.css')
      link(rel='stylesheet', type="text/css",href='/css/facebook.css')
      link(rel='stylesheet', href='/css/style.css')

      script(src='/js/jquery-2.2.0.min.js')
      script(src='/js/bootstrap.min.js')
      script(src='/js/jquery.mixitup.min.js')
      script(src='/js/sweetalert.min.js')
      script(src='/js/main.js')
  body
    block content
