//
   Created by root on 13/02/16.

extends layout

block content
    .container
        //LOG IN
        #register.col-xs-12
            .well-sm
                h1 Nuevo registro
                    #registerForm.col-xs-10
                        img(class='profile-img', src='https://lh5.googleusercontent.com/-b0-k99FZlyE/AAAAAAAAAAI/AAAAAAAAAAA/eu7opA4byxI/photo.jpg?sz=120')
                        label.hidden-xs.hidden-sm.col-md-4.col-lg-4(for='registerName') Nombre
                        input#registerName.input-lg.col-xs-10.col-sm-10.col-md-7.col-lg-7(type='email', name='logInEmail', placeholder='>_', required='', autofocus='')
                        label.hidden-xs.hidden-sm.col-md-4.col-lg-4(for='registerEmail') Email
                        input#registerEmail.input-lg.col-xs-10.col-sm-10.col-md-7.col-lg-7(type='email', name='logInEmail', placeholder='@', required='', autofocus='')
                        label.hidden-xs.hidden-sm.col-md-4.col-lg-4(for='lregisterPassword') Password
                        input#lregisterPassword.input-lg.col-xs-10.col-sm-10.col-md-7.col-lg-7(type='password', name='logInPassword', placeholder='password', required='', autofocus='')
                        button#registerSend.col-xs-8.col-xs-offset-4.btn.btn-lg.btn-default(type='button') Enviar datos
                        span.clearfix